
.jumbotron {
	background: url("../img/cw_leading.jpg");
	color:white;
	box-shadow: 5px 5px 15px #444;
	text-shadow: 1px 1px 5px #444;
}

.alldayjumbo {
	background: url("../img/steve_liam.jpg");
	background-size: 100%;
	max-width: 100%;
	max-height: auto;
}

.twitter-timeline {
	float: right;
	display: inline-block;
	right: 0px;
	top: auto;
}

.twitter-button {
	padding-top: 15px;
	padding-right: 0px;
	float: right;
}

.calendar {
	float:right;
	display: inline-block;
}