.jumbotron {
	background: url("../img/cw_leading.jpg");
	color:white;
	/* do not like
	box-shadow: 5px 5px 15px #444;
	text-shadow: 1px 1px 5px #444; */
}

.alldayjumbo {
	background: url("../img/steve_liam.jpg");
	background-size: 100%;
	max-width: 100%;
	max-height: auto;
}

.feature-img {
	margin-bottom: 3em;
}

.twitter-timeline {
	/*float: right;
	display: inline-block;
	right: 0px;
	top: auto;*/
}

.twitter-button {
	padding-top: 15px;
	padding-right: 0px;
	float: right;
}

.calendar {
	/*float:right;*/
	/*display: inline-block;*/
	/* display:none; temporarily hide*/
	float:right;
	display: inline-block;
}

/* remove rounded corners on nav */
.navbar {
    border-radius: 0px;
    }
    
/* main container background colour */
body > div.container{
	background-color: #fff; 
/*	border-top: 3px solid; */
}

/* more padding for main content */
.main-box {
	margin-top: 40px;
}

.page-content {
	padding-left: 40px;
	padding-right: 40px;
}

.page-content h3 {
	margin-top: 1.5em;
	margin-bottom: .6em;
}

/*fixes some placement issues with inline google calendar */
.calendar{
	width:100%;
}

.sidebar div {
	margin-top: 10px;
	margin-bottom: 20px;
}

/* make the maximum width less */
@media (min-width:1200px){
	.container{
		width:970px;
	}
}

body {
    padding-top: 0px;
    background-color: #eee;
}

#toplogo{
	text-align: center;
	color: #000;
	font-family: Plathorn-NorMed;
	font-size: 24pt;
}
/* logo text size on screens */
@media (min-width:400px){
	#toplogo{
		font-size: 30pt;
	}
}
@media (min-width:600px){
	#toplogo{
		font-size: 48pt;
	}
}

/* header has an underline by default - remove it */
.page-header{
	border-bottom: none;
}